---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Federico Ramos. Soy diseñador industrial con un interes, por la programación. 
      Esto comienza en cuarentena por el 2020, impulsado por las tendencias y buscando una 
      complementacion en mi formación como Diseñador Industrial. Desde entonces, me aboque de manera completa 
      a estudiar desarrollo de software. <strong> La programación se ha transformando en algo más 
      que un complemento, paso a ser parte fundamental de mi vida profesional</strong>.
    </p>

    <p>
      <strong>Actualmente, me desenvuelvo como Freelancer en el ámbito del diseño, desarrollo web, 
      aplicaciones y cualquier desafío tecnológico que se me presente</strong>.
    </p>
    <p> 
      Mis proyectos han abarcado desde la implementación de metodologías modernas en 
      la gestión de clientes hasta la integración de bases de datos. He aplicado estos conocimientos 
      en diversos sectores, como el comercial, el médico y otros campos afines.
    </p>

    <p>
      Gracias a la combinacion con el diseñador industrial, mi enfoque va más allá de 
      la codificación. <strong>Mi experiencia abarca todo el proceso de desarrollo de 
      productos y servicios, desde la fase de investigación hasta la producción 
      final del proyecto.</strong> Esta trayectoria me permite tener habilidades para 
      integrar el diseño y la programación desde ambos puntos de vista.
    </p>
  </div>

  <img width="250" height="250" src="/me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-2  lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>


