---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Programador Freelance",
    company: "Autonomo",
    company_two: " ",
    description:
      "Desde el 2023 estoy abocado al desarrollo de soluciones mayormente en el entorno de python. Pero tambien realizando desarrollo de web y apps, segun las necesidades de los clientes.",
    
  },
  {
    date: " Noviembre 2019 - Julio 2023",
    title: "Dise単ador Industrial",
    company: "Procemaq - 2023",
    company_two: "Crespi - 2022 ",
    description:
      "Me desempe単e como dise単ador con expecializancion en modelado 3d para diferentes areas, utilizando diversos programas. Uno de los proyectos mas importantes del que fui parte, fue realizar el dise単o y modelado de los Formula 1 de Ayrton Senna, para la serie de NETFLIX que se realizo en Argentina",
    link: "https://www.instagram.com/federamos.id/"
    ,
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
